<div class="forms-container">
  <header>
    <h1 class="form-title">Регистрация</h1>
  </header>
  <form class="my-form">
    {{{emailField}}}
    {{{loginField}}}
    {{{firstNameField}}}
    {{{secondNameField}}}
    {{{phoneField}}}
    {{{passwordField}}}
    {{{repeatPasswordField}}}
    {{{signUpButton}}}
  </form>
  <footer>
    {{{signInLink}}}
  </footer>
</div>