<aside class="sidebar">
  <section class="chat-list">
    {{{chatItems}}}
  </section>

  <nav class="sidebar-nav">
    {{{profileButton}}}
  </nav>
</aside>

<main class="chat-area">
  <section class="chat-messages">
    {{{messageItems}}}
  </section>

  <div class="input-container">
    {{{attachButton}}}
    {{{form}}}
  </div>
</main>
