<div class="forms-container">
  {{{avatar}}}

  <section class="my-form">
    {{{rows}}}
  </section>

  <nav>
    {{{changeProfileLink}}}
    {{{changePasswordLink}}}
    {{{singOutLink}}}
  </nav>
</div>
