{{{avatar}}}
<div class="chat-info">
  <div class="chat-header">
    <h3 class="chat-name">{{chat.title}}</h3>
    <time class="chat-time">{{lastMsgTime}}</time>
  </div>
  <div class="chat-preview">
    <p class="last-message">{{chat.last_message.content}}</p>
    {{#if chat.unread_count}}
      <span class="badge">{{chat.unread_count}}</span>
    {{/if}}
  </div>
</div>
