<div class="forms-container">
  {{{avatar}}}

  <form class="my-form">
    {{{emailField}}}
    {{{loginField}}}
    {{{firstNameField}}}
    {{{secondNameField}}}
    {{{displayNameField}}}
    {{{phoneField}}}
    {{{saveButton}}}
  </form>
</div>
